@import "/UI/Theme.scss";

$bg: rgb( 38, 38, 38, 0.5 );
$bg-clear: rgba( 38, 38, 38, 0 );
$grid-size: 60px;

ToolInfoPanel
{
	position: absolute;
	left: 0;
	top: 30px;
	width: 840px;
	flex-direction: column;
	gap: 2px;
	font-family: $body-font;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.15s ease;

	&.visible
	{
		opacity: 1;
	}

	.header
	{
		position: relative;
		flex-direction: column;
		padding: 17px 52px 20px;
		background-image: linear-gradient( to right, $bg, $bg-clear );
	}

	.tint
	{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 280px;
	}

	.grid-mask
	{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		opacity: 0.15;
		mask-image: linear-gradient( to right, black, transparent );
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
		mask-mode: alpha;
	}

	.grid
	{
		position: absolute;
		left: -$grid-size;
		top: -$grid-size;
		right: 0;
		bottom: 0;
		background-image: url( /UI/tool_grid.png );
		background-size: $grid-size $grid-size;
		background-repeat: repeat;
		animation: tool-grid-scroll 6s linear infinite;
	}

	.title
	{
		font-size: 48px;
		font-weight: 800;
		line-height: 48px;
		color: linear-gradient( to bottom, white, rgb( 230, 230, 230 ) );
	}

	.description
	{
		max-width: 736px;
		margin-top: 2px;
		font-size: 16px;
		font-weight: 600;
		line-height: 18px;
		color: rgba( white, 0.75 );
	}

	.hints
	{
		flex-direction: row;
		align-items: center;
		gap: 50px;
		padding: 6px 52px;
		background-image: linear-gradient( to right, $bg, rgba( 38, 38, 38, 0 ) );
	}

	.hint
	{
		flex-direction: row;
		align-items: center;
		gap: 14px;
	}

	.key
	{
		height: 32px;
		min-width: 32px;
	}

	.text
	{
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		color: rgba( white, 0.92 );
	}
}

@keyframes tool-grid-scroll
{
	from
	{
		transform: translate( 0px, 0px );
	}

	to
	{
		transform: translate( $grid-size, $grid-size );
	}
}
