@using Sandbox;
@using Sandbox.UI;
@inherits Panel


<root onclick="@Action" style="background-image: url( @Icon )">

    @if ( Package is not null )
    {
        <div class="title">@Package.Title</div>
    }

</root>

@code
{
    public string Icon { get; set; } = "https://cdn.sbox.game/asset/facepunch.oildrumexplosive/thumb.png.fff8e3787c17283";
    public Action Action { get; set; }
    public Package Package { get; set; }
}
