Chat
{
	position: absolute;
	left: 64px;
	bottom: 20%;
	width: 600px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	flex-direction: column;
	align-items: stretch;
	font-size: 20px;
	font-family: Poppins;
	font-weight: 600;
	gap: 10px;
	z-index: -1000;

	&.hide
	{
		opacity: 0;
	}

	.output
	{
		flex-grow: 1;
		flex-direction: column;
		justify-content: flex-end;
		align-items: stretch;
		gap: 5px;
		background-color: rgba( #0c202fcc, 0.7 );
		border-radius: 8px;
		backdrop-filter: blur( 10px );

		.chat_entry
		{
			padding: 6px;
			gap: 8px;
			border-radius: 2px;
			text-shadow: 0px 0px 5px rgba( black, 0.75 ), 0px 0px 5px rgba( black, 0.75 );
			align-items: center;

			.avatar
			{
				width: 24px;
				height: 24px;
				background-position: center;
				background-size: cover;
				border-radius: 100%;
				box-shadow: 0px 0px 10px rgba( #cdf, 0.2 );
			}

			.author
			{
				color: linear-gradient( to right, #cdf, #8ea3ce );
				white-space: nowrap;
				flex-shrink: 0;
			}

			.message
			{
				font-weight: 400;
				font-size: 18px;
				color: #fff;
			}
		}
	}

	.input
	{
		color: white;

		.textentry
		{
			align-items: flex-start;
			white-space: normal;
		}
	}

	&.open
	{
		.input
		{
			background-color: rgba( #0c202fcc, 0.5 );
			backdrop-filter: blur( 3px );
			border-radius: 8px;
			font-weight: 400;
			font-size: 18px;
		}
	}
}
