@namespace Sandbox
@using Sandbox.UI
@inherits Sandbox.UI.Panel

<root>

    @if ( !string.IsNullOrWhiteSpace( Title ) )
    {
        <div class="title">@Title</div>
    }

</root>

@code
{
    [Parameter] public string Type { get; set; }
    [Parameter] public string Icon { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Path { get; set; }

    /// <summary>
    /// We want to drag from this panel
    /// </summary>
    public override bool WantsDrag => true;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (string.IsNullOrWhiteSpace( Icon ) )
        {
            Icon = $"thumb:{Path}";
        }

        Style.SetBackgroundImage(Icon);
    }

    protected override void OnDragStart( DragEvent e )
    {
        DragHandler.StartDragging( new DragData
        {
            Type = Type,
            Path = Path,
            Icon = Icon ?? $"thumb:{Path}",
            Title = Title,
            Source = this
        } );
    }

    protected override void OnDragEnd( DragEvent e )
    {
        DragHandler.StopDragging();
    }

    protected override void OnClick( MousePanelEvent e )
    {
        GameManager.Spawn( Path );
    }
}
