@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	
    <div class="container">

        <div class="left">

            <div class="tabs">
                <div class="active">Props</div>
                <div>Weapons</div>
                <div>Npcs</div>
                <div>Vehicles</div>
                <div>Other</div>
            </div>

            <div class="body">
                <SpawnPage></SpawnPage>
            </div>

        </div>

        <div class="right">

            <div class="tabs">

                <div class="active">Tools</div>
                <div>Options</div>

            </div>

            <div class="body">

                <ToolsList></ToolsList>

            </div>


        </div>

    </div>

</root>

@code
{
    bool stickOpen = false;

    protected override void OnUpdate()
    {
        stickOpen = stickOpen || (Sandbox.UI.InputFocus.Current?.Ancestors.Contains(Panel) ?? false);

        if ( stickOpen && Input.Pressed("spawnmenu") ) stickOpen = false;

        SetClass("open", stickOpen || Input.Down("spawnmenu"));

        base.OnUpdate();
    }
}
