$deadzone-x: 2vw;
$deadzone-y: 2vw;

// default color for notice timer bar, also used for the tool panel's gradient and chat usernames
$notice-color: rgb( 77, 144, 252 );

$color-accent: #0094ff;
$color-text: #fafaff;

$title-font: "Poppins";
$body-font: "Inter";
$subtitle-font: "Poppins";

@import "/UI/Menu.scss";
@import "/UI/ContextMenu.scss";
@import "/UI/Hud.scss";
