@using System.Threading.Tasks;
@using System.Threading;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root class="spawnpage columned">

	<div class="nav">

		<div class="section">

		</div>

		<div class="section grow">
		</div>

		<div>
			<button @onclick="@(() => SetJob("citizen"))">citizen</button>
		</div>


		<div>
			<button @onclick="@(() => SetJob("policeofficer"))">policeofficer</button>
		</div>

	</div>

	<div class="contents">



	</div>

</root>


@code
{
	[ConCmd.Server( "suicide" )]
	static void DoPlayerSuicide()
	{
		if ( ConsoleSystem.Caller.Pawn is SandboxPlayer basePlayer )
		{
			basePlayer.TakeDamage( new DamageInfo { Damage = basePlayer.Health * 99 } );
		}
	}

	[ConCmd.Server( "removecontra" )]
	public static void removecontra()
	{
		var player = ConsoleSystem.Caller.Pawn as SandboxPlayer;
		player.Inventory.DeleteContents();
	}

	[ConCmd.Server( "setJob" )]
	public static void setJob(string jobId)
	{
		var player = ConsoleSystem.Caller.Pawn as SandboxPlayer;

		player.setJob(jobId);
	}

	void SetJob(string jobId)
	{
		Health.Job = jobId;

		setJob(jobId);
	}
}