@using System.Threading.Tasks;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel;

<root class="spawnpage columned">

	<div class="nav">

		<div class="section">
			The scoreboard fr
		</div>


	</div>
</root>


@code
{
void view() 
{

}


}