@import "/UI/Theme.scss";

.spawnlist-create-dialog
{
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 48px;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;

	h3
	{
		font-size: 20px;
		font-weight: 600;
		margin: 0;
	}

	p
	{
		font-size: 14px;
		opacity: 0.5;
		margin: 0;
	}

	.menu-input
	{
		min-width: 300px;
		padding: 8px 12px;
		font-size: 14px;
	}

	.menu-action
	{
		padding: 8px 16px;
		min-width: 300px;
	}
}
