@import "/UI/Theme.scss";

EffectsHost
{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    EffectsList
    {
        position: absolute;
        bottom: $deadzone-y;
        left: $deadzone-x;
        width: 300px;
        pointer-events: all;
    }

    EffectsProperties
    {
        position: absolute;
        bottom: $deadzone-y;
        right: $deadzone-x;
        width: 500px;
        pointer-events: all;
    }
}
