@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox
@attribute [SpawnMenuHost.SpawnMenuMode]
@attribute [Icon("🔍")]
@attribute [Title("Inspect")]
@attribute [Order( -50 )]


<root>
	
    <div class="container">

        <Inspector @ref=Inspector></Inspector>

    </div>

</root>

@code
{
    Inspector Inspector = default;

    public override void Tick()
    {
        base.Tick();

        UpdateCursor();
    }

    void UpdateCursor()
    {
        Style.Cursor = (Inspector?.Hovered.IsValid() ?? false) ? "pointer" : null;
    }

    protected override void OnMouseDown(MousePanelEvent e)
    {
        Sandbox.UI.InputFocus.Clear();

        Inspector?.WorldMouseDown(e);
    }

    protected override void OnMouseUp(MousePanelEvent e)
    {
        
        Inspector?.WorldMouseUp(e);
    }

}
