@using Sandbox;
@using Sandbox.UI;
@namespace Sandbox
@inherits Panel

<root>

    <div class="header">
        <h2>@Target.Name</h2>
        <h3>@Target.Id</h3>
    </div>

    <div class="body">
        <ControlSheet Target="@Properties"></ControlSheet>
    </div>

</root>

@code
{
    [Parameter]
    public GameObject Target{ get; set; }

    List<SerializedProperty> Properties = new();

    protected override void OnParametersSet()
    {
        Properties = new();

        @foreach (var c in Target.Components.GetAll())
        {
            CollectProperties(c);
        }
    }

    void CollectProperties( Component component )
    {
        if ( component is ModelRenderer mr )
        {
            var so = TypeLibrary.GetSerializedObject(mr);
            so.OnPropertyChanged = PropertyChanged;

            Properties.Add( so.GetProperty( nameof( ModelRenderer.Tint ) ) );
            Properties.Add( so.GetProperty( nameof( ModelRenderer.RenderType ) ) );
        }

        if (component is Rigidbody rb)
        {
            var so = TypeLibrary.GetSerializedObject(rb);
            so.OnPropertyChanged = PropertyChanged;

            Properties.Add(so.GetProperty(nameof(Rigidbody.LinearDamping)));
            Properties.Add(so.GetProperty(nameof(Rigidbody.AngularDamping)));
        }

        if (component is HingeJoint hj)
        {
            var so = TypeLibrary.GetSerializedObject(hj);
            so.OnPropertyChanged = PropertyChanged;

            Properties.Add(so.GetProperty(nameof(HingeJoint.EnableCollision)));
            Properties.Add(so.GetProperty(nameof(HingeJoint.Motor)));
            Properties.Add(so.GetProperty(nameof(HingeJoint.TargetVelocity)));
            Properties.Add(so.GetProperty(nameof(HingeJoint.MaxTorque)));
        }
    }

    void PropertyChanged( SerializedProperty prop )
    {
        // TODO - can we debounce?


        var c = prop.Parent.Targets.First() as Component;
        GameManager.ChangeProperty(c, prop.Name, prop.GetValue<object>());
    }
}
