
GameObjectInspector
{
    flex-direction: column;
    overflow: hidden;
	width: 100%;
}

.header
{
    flex-direction: column;
    flex-shrink: 0;
}

.body
{
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	overflow-y: scroll;
	gap: 2px;

	controlsheetrow
	{
		flex-direction: column;
		max-height: auto;
		width: 100%;

		> .right, > .left
		{
			flex-shrink: 0;
		}
	}
}
