
Inspector
{
    position: absolute;
    right: 6vw;
    bottom: 10vh;
    font-size: 1.3rem;
    color: #ddd;
    transition: all 0.2s linear;

    > .window
    {
        background-color: #222222fa;
        padding: 1rem;
        width: 500px;
        height: 80vh;
        border-radius: 8px;
        pointer-events: all;
        backdrop-filter: blur( 10px );
    }
}

Inventory.hidden
{
    opacity: 0;
}