@import "/UI/Theme.scss";

HudDigits
{
	flex-direction: row;
	flex-shrink: 0;

	.digit
	{
		width: 32px;
		height: 68px;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		background-size: 100% 100%;
		background-repeat: no-repeat;

		&.bg-1 { background-image: url( "/ui/hud/bg-digit1.png" ); }
		&.bg-2 { background-image: url( "/ui/hud/bg-digit2.png" ); }
		&.bg-3 { background-image: url( "/ui/hud/bg-digit3.png" ); }

		label
		{
			font-family: $hud-digit-font;
			font-weight: 700;
			font-size: 64px;
			line-height: 68px;
			color: $hud-digit-color;
		}
	}
}
