@using Sandbox;
@using Sandbox.UI;
@namespace Sandbox
@inherits BaseControl
@attribute [CustomEditor(typeof(Surface))]

<root>

    <div class="preview">
        @if ( ResourcePath != null )
        {
            <div class="thumb" style="background-image: url( thumb:@ResourcePath )"></div>
        }
        else
        {
            <div class="ext-badge">SRF</div>
        }
    </div>

    <div class="content">
        @if ( Title == null )
        {
            <div class="title empty">None Selected</div>
        }
        else
        {
            <div class="title">@Title</div>
        }
        <div class="subtitle">Surface</div>
    </div>

</root>

@code
{
    string Title;
    string ResourcePath;

    public override void Rebuild()
    {
        base.Rebuild();
        OnValueChanged();
    }

    public void OnValueChanged()
    {
        var surface = Property.GetValue<Surface>();

        if ( surface == null || !surface.IsValid() )
        {
            Title = null;
            ResourcePath = null;
            return;
        }

        Title = surface.ResourceName;
        ResourcePath = surface.ResourcePath;
    }

    void SelectFile( string filePath )
    {
        var surface = ResourceLibrary.Get<Surface>( filePath );
        Property.SetValue( surface );
        OnValueChanged();
    }

    protected override void OnClick( MousePanelEvent e )
    {
        base.OnClick( e );

        var surface = Property.GetValue<Surface>();

        var popup = new ResourceSelectPopup();
        popup.Extension = "surface";
        popup.CurrentValue = surface?.ResourcePath;
        popup.Parent = FindPopupPanel();
        popup.OnSelectedFile = SelectFile;
    }
}
