@using Sandbox;
@using Sandbox.UI;
@inherits UtilityPage
@namespace Sandbox
@attribute [Icon( "🔫" )]
@attribute [Title( "#spawnmenu.utility.weapons" )]
@attribute [Group( "#spawnmenu.utility.group.world" )]
@attribute [Order( 2 )]

<root class="page" style="flex-direction: column;">
    @if ( Connection.Local.HasPermission( "admin" ) )
    {
        <div class="control-row" Tooltip=@UnlimitedAmmoDescription @onclick=@ToggleUnlimitedAmmo>
            <label class="left">@(WeaponConVars.UnlimitedAmmo ? "🟢" : "⚪") #spawnmenu.utility.unlimited_ammo</label>
            <label class="right">@(WeaponConVars.UnlimitedAmmo ? "#spawnmenu.common.on" : "#spawnmenu.common.off")</label>
        </div>
        <div class="control-row" Tooltip=@InfiniteReservesDescription @onclick=@ToggleInfiniteReserves>
            <label class="left">@(WeaponConVars.InfiniteReserves ? "🟢" : "⚪") #spawnmenu.utility.infinite_reserves</label>
            <label class="right">@(WeaponConVars.InfiniteReserves ? "#spawnmenu.common.on" : "#spawnmenu.common.off")</label>
        </div>
    }
    else
    {
        <div class="control-row">
            <label class="left">⚠️ #spawnmenu.common.host_only</label>
        </div>
    }
</root>

@code
{
    public override bool IsPageVisible() => Connection.Local.HasPermission( "admin" );

    static readonly string UnlimitedAmmoDescription = "#spawnmenu.utility.unlimited_ammo_description";
    static readonly string InfiniteReservesDescription = "#spawnmenu.utility.infinite_reserves_description";

    void ToggleUnlimitedAmmo() => GameManager.SetConVar( "sb.weapon.unlimitedammo", !WeaponConVars.UnlimitedAmmo );
    void ToggleInfiniteReserves() => GameManager.SetConVar( "sb.weapon.infinitereserves", !WeaponConVars.InfiniteReserves );
}
