@import "/UI/UiCommon.scss";

UIDropdownList.popup-panel
{
	flex-direction: column;
	margin-top: -1px;
	padding: 0;
	overflow: hidden;
	background-color: #e8e8e8;
	border: 1px solid $ui-control-border;
	border-radius: 0;
	box-shadow: none;
	transition: none;
	font-family: "Inter";
	z-index: 3000;

	.option
	{
		flex-direction: row;
		align-items: center;
		flex-shrink: 0;
		height: 24px;
		padding: 0 7px;
		font-size: $ui-settings-font;
		font-weight: 500;
		color: #545454;
		cursor: pointer;

		&.alt
		{
			background-color: #d6d6d6;
		}

		&:hover
		{
			background-color: rgba( 62, 131, 235, 0.3 );
			sound-in: ui.hover;
		}

		&.active
		{
			color: white;
			background-color: $ui-blue;
		}
	}
}

UIDropdownList.popup-panel.big .option
{
	height: 26px;
	font-size: 12px;
}

UIDropdownList.popup-panel:outro
{
	margin-top: -1px;
	opacity: 0;
	transition: opacity 0.1s ease-in;
}
