@using Sandbox;
@using Sandbox.UI;
@inherits Panel


@if ( LastResult is null )
{
    // loading
    return;
}

@if ( LastResult.Packages.Count() == 0 )
{
    <p>No entities found.</p>
    return;
}

<VirtualGrid Items=@( LastResult.Packages ) ItemSize=@(120)>
    <Item Context="item">
        @if (item is Package entry)
        {
            <SpawnButton Icon="@entry.Thumb" Action="@(() => Spawn(entry))"></SpawnButton>
        }
    </Item>
</VirtualGrid>

@code
{
    public string Query { get; set; } = "";

    void Spawn( Package package )
    {
        GameManager.Spawn( package.FullIdent );
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _ = Rebuild();
    }


    Package.FindResult LastResult;

    async Task Rebuild()
    {
        LastResult = await Package.FindAsync($"type:sent {Query}");
        StateHasChanged();
    }
    
}
