@import "/Styles/variables.scss";
@import "/Styles/spawnmenu/spawnmenu.scss";
@import "/Styles/toolbar/toolbar.scss";
@import "/Styles/hud/chatbox.scss";

Health
{
    position: absolute;
    right: 100px;
    bottom: 48px;
    font-size: 30px;
    font-weight: bold;
    color: $panel-text-color;
    height: 80px;
    padding: 0 30px;
    align-items: center;
    font-family: $font-family;
    background-color: rgba( $panel-background, 0.2 );
}

CurrentTool
{
    border-left: 10px solid $primary-color;
    
    position: absolute;
    background-color: rgba( $panel-background, 0.5 );
    top: 100px;
    left: 100px;
    padding: 20px 50px;
    flex-direction: column;
    opacity: 0.0;


    &.active
    {
        opacity: 1.0;
    }

    .title, .description {
        color: $panel-text-color;
        font-family: $font-family;
        mix-blend-mode: lighten;
        text-transform: uppercase;
    }

    .title
    {
        font-size: 30px;
        font-weight: 800;
    }

    .description
    {
        font-size: 12px;
        font-weight: normal;
        opacity: 0.5;
        font-weight: 500;
    }
}

.spawnmenuopen CurrentTool
{
    opacity: 0.01;
}

rootpanel
{

    &.devcamera
    {
        display: none;
    }
}

icon, iconpanel
{
    font-family: "material icons";
    flex-grow: 1;
    text-align: left;
}

i
{
    font-family: "material icons";
    text-align: center;
}

.tooltip
{
    font-family: $font-family;
    background-color: $tooltip-background;
    border: 1px solid $tooltip-border;
    padding: 2px 5px;
    border-radius: $panel-rounding;
    color: $tooltip-text-color;
}