$primary-color: #3273eb;
$panel-rounding: 4px;
$panel-background: #111111;
$panel-text-color: #ffffff;
$tooltip-background: rgba( #fea, 0.95 );
$tooltip-border: rgba( #555, 0.1 );
$tooltip-text-color: #222;
$font-family: Poppins;