

.package-list
{
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
}

.columned .nav
{
    width: 200px;
    flex-direction: column;
    padding: 10px;
}

.columned .contents
{
    flex-grow: 1;
    padding: 10px;
}

.columned .nav .section
{
    margin: 10px 0;
    flex-direction: column;
}

.columned .nav .button
{
    background-color: rgba( $panel-text-color, 0.01 );
    color: rgba( $panel-text-color, 0.9 );
    padding: 10px;
    border-radius: 4px;
    font-weight: normal;
    cursor: pointer;

    &:hover
    {
        background-color: $primary-color;
        color: $panel-text-color;
    }

    &:active
    {
        background-color: $primary-color;
        color: $panel-text-color;
        transform: scale( 0.97 );
    }

    &.active
    {
        background-color: $primary-color;
        color: $panel-text-color;
    }
}

.columned .nav .button-group
{
    .button
    {
        flex-grow: 1;
        border-radius: 0px;
        justify-content: center;
        margin-left: 1px;
        font-size: 17px;

        &:first-child
        {
            border-radius: $panel-rounding 0 0 $panel-rounding;
            margin-left: 0;
        }

        &:last-child
        {
            border-radius: 0 $panel-rounding $panel-rounding 0;
        }
    }
}
