@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Mounting;
@inherits Panel

<SpawnMenuContent>

    <Body>
		
        <VirtualGrid Items=@Items ItemSize=@(200)>
            <Item Context="context">

				@if (context is Storage.QueryItem item)
                {
					<WorkshopIcon Item="@item" @onclick=@( () => Duplicator.FromWorkshop( item ) )></WorkshopIcon>
                }

            </Item>
        </VirtualGrid>
    </Body>

</SpawnMenuContent>

@code
{
    protected override async Task OnParametersSetAsync()
    {
		Items.Clear();
		await QueryNext();
    }

	List<Storage.QueryItem> Items = new();
	Storage.QueryResult LastResult;

	async Task QueryNext()
	{
		var query = new Storage.Query();
		query.KeyValues["package"] = "facepunch.sandbox";
		query.KeyValues["type"] = "dupe";

		LastResult = await query.Run();
		if ( LastResult.Items == null ) return;

		Items.AddRange( LastResult.Items );
		StateHasChanged();
	}
}
