@using Sandbox;
@using Sandbox.UI;
@inherits Panel

<root class="">

    @if ( Left != null )
    {
        <div class="left">@Left</div>
    }

    <div class="body">@Body</div>

	@if ( Right != null )
    {
        <div class="right">@Right</div>
    }

</root>

@code
{

    public RenderFragment Left { get; set; }
    public RenderFragment Body { get; set; }
    public RenderFragment Right { get; set; }

}
