
SpawnMenuPage
{
	width: 100%;
	height: 100%;
}

SpawnMenuPage > .left
{
	border-right: 1px solid #ffffff05;
	width: 200px;
	flex-direction: column;
	padding: 10px;
}

SpawnMenuPage > .body
{
	position: relative;
	flex-grow: 1;
}