InventoryWeapon
{
    padding: 0px 16px;
    font-size: 14px;
    white-space: nowrap;
    color: transparent;
    flex-direction: column;
    height: 48px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur( 10px ) contrast( 0.8 ) brightness( 0.4 );
    transition: all 0.1s ease-in;
    box-shadow: 0px 0px 150px #f800;
    font-weight: bold;
    font-family: poppins;
    border-radius: 4px;
    padding: 4px;
    font-weight: 300;

    label
    {
        transition: opacity 0.1s ease-in;
        opacity: 1;
        mix-blend-mode: lighten;
        height: 0px;
    }
}

.active InventoryWeapon
{
    background-color: rgba( 0, 0, 0, 0.3 );
    color: rgba( white, 0.5 );
    font-weight: 600;
    width: 100%;
    height: 128px;
    border: 0.25px solid transparent;

    label
    {
        height: 24px;
    }
}

.active InventoryWeapon.active
{
    background-color: rgba( #0d1a30, 0.5 );
    color: #5e94ff;
    text-shadow: 0px 0px 12px rgba( #5e94ff, 0.5 );
    border: 0.25px solid rgba( #5e94ff, 0.15 );
    box-shadow: 1px 1px 15px rgba( black, 0.5 );
}

InventoryWeapon .icon
{
    font-family: Material Icons;
    font-size: 32px;
    opacity: 1;
    transform: scale( 1 );
    transition: all 0.1s ease-in;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-tint: rgba( white, 0.1 );
    mix-blend-mode: lighten;
}

InventoryWeapon.selected
{
    color: #fc5;
    box-shadow: 0px 0px 50px #0005ff22;
    background-color: #cdf;
    text-shadow: 0px 0px 10px #0005ff22;
    transform: translateY( -16px ) scale( 1.2 );
    transition: all 0.2s ease-in;

    label
    {
        opacity: 0;
    }
}

.active InventoryWeapon.active .icon, InventoryWeapon.selected .icon
{
    opacity: 1;
    background-tint: #5e94ff;
}

InventoryWeapon
{
    &:not( .switchable )
    {
        opacity: 0.25;
        background-color: rgba( 0, 0, 0, 0.3 );

        .icon
        {
            background-tint: rgba( white, 0.15 );
        }

        label
        {
            color: rgba( white, 0.3 );
        }
    }
}
